@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&family=Work+Sans&display=swap');

* {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Prata', serif;
    font-family: 'Work Sans', sans-serif; */
}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont, 'Prata', serif;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52,20,89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#container-portada {
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
    position: relative;
    background-image: url(../img/fotohome2.jpg);
    background-size: 150%;
    animation: movimiento 15s infinite linear alternate;
}

@media (max-width:760px) {
    #container-portada {
        height: 450px;
        
    }

    .texto-somos {
        padding-top: 30px;
    }
}

@keyframes movimiento {
    from {
        background-position: bottom left;
    
    }to {
        background-position: top right;
    }
}

.capa-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black,#341459);
    opacity: 0.8;
}

.container-details {   
    width: 100%;
    /* font-size: ;  */   
    position: relative;
    padding-top: 10%;
    color: white;
    margin-top: 20px;
    
    
}

#servicios {
    background: linear-gradient(90deg, rgba(52,20,89,0.5) 0%, rgba(109,94,50,0.5) 50%, rgba(2,71,23,0.5) 100%);
}

#servicios h2 {
    color: rgb(0, 0, 0);
}

#servicios h5 {
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
}

#topicos {
    list-style-position: inside;
}

#btn-home {
    display: flex;
    justify-content: center;
    padding-left: 200px;
}

/* .container-details .btn {
    width: 50%;
} */

/* #quienes-somos {
    background-color: #341459;
    opacity: 0.5;
} */

#contenedor-somos {    
    position: relative;
    color: white;

}

#contacto {
   padding-top: 30px; 
}

#contacto h2 {
    color: rgb(0, 0, 0);
}

#contacto h5 {
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
}

.btn-light {
    background-color: #d1d1d1;
}

