@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face{font-family:'FontAwesome';src:url('../font/fontawesome-webfont.eot?v=3.2.1');src:url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Prata', serif;
    font-family: 'Work Sans', sans-serif; */
}

.navbar {
    padding: 0 1rem;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont, 'Prata', serif;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52,20,89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#container-portada {
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
    position: relative;
    background-image: url(../img/fotohome2.jpg);
    background-size: 150%;
    animation: movimiento 15s infinite linear alternate;
}

@media (max-width:760px) {
    #container-portada {
        height: 450px;
        
    }

    .texto-somos {
        padding-top: 30px;
    }
}

@keyframes movimiento {
    from {
        background-position: bottom left;
    
    }to {
        background-position: top right;
    }
}

.capa-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black,#341459);
    opacity: 0.8;
}

.container-details {   
    width: 100%;
    /* font-size: ;  */   
    position: relative;
    padding-top: 10%;
    color: white;
    margin-top: 20px;
    
    
}

#servicios {
    background: linear-gradient(90deg, rgba(52,20,89,0.5) 0%, rgba(109,94,50,0.5) 50%, rgba(2,71,23,0.5) 100%);
}

#servicios h2 {
    color: rgb(0, 0, 0);
}

#servicios h5 {
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
}

#topicos {
    list-style-position: inside;
}

#btn-home {
    display: flex;
    justify-content: center;
    padding-left: 200px;
}

/* .container-details .btn {
    width: 50%;
} */

/* #quienes-somos {
    background-color: #341459;
    opacity: 0.5;
} */

#contenedor-somos {    
    position: relative;
    color: white;

}

#contacto {
   padding-top: 30px; 
}

#contacto h2 {
    color: rgb(0, 0, 0);
}

#contacto h5 {
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
}

.btn-light {
    background-color: #d1d1d1;
}

.es {
    color: rgb(89, 89, 89);
}

.en {
    color: #341459
}

.check {
    position: relative;
    width: 50px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    background: rgb(89, 89, 89);
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 20px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid rgb(89, 89, 89);
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #341459;
}

.check:checked:before {
    background: #341459;
}

.col-md-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.idiomas {
    display: flex;
    justify-content: flex-end;
}

#btn-back-to-top {
    background-color: #341459;
    opacity: 0.85;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#btn-back-to-top:hover {
    opacity: 1;
}

/* VENTANA DE ERRORES =========== */

.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.mensaje_modal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #c5c5c5;
    margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: '\f00d';
    font-family: FontAwesome;
    display: inline-block;
    color: #e25151;

    margin-right: 8px;
}

.mensaje_modal #btnClose {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;
    
    background: #341459;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;

    float: right;
}